<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="about-us">
        <img id="forabout" src="Foraboutus.jpg">
        <div class="fortitle">About Us</div>
        <div class="fordescription"><h1>A key to your dream home</h1></div>
        <div class="paraforabout"><p>The home that you always wanted is the home you deserve. Homeland helps you realize that dream</p></div>
        <div class="paraforabout2"><p> with interior design that’s beautiful, reliable, and created just for you.</p></div>
        <a id="bforAboutus22"href="/book-online" class="btn btn-lg btn-info">BOOK ONLINE CONSULTATION</a>
       </div>
       <div class="aboutuscontainer">
        <span id="s1about">5231</span>
        <span id="s2about">2000+</span>
        <span id="s3about">7</span>
        </div>
     <div class="aboutuscontainer2">
         <span id="aboutus11">Happy customers</span>
         <span id="aboutus21">Registered designers</span>
         <span id="aboutus31">Cities in India</span>
      </div>
      <h1 id="hforabout">The story of Homeland</h1>
      <p id="pforabout">Anuj and Ramakant, Homeland founders and college friends, were just like any other homeowner—they simply wanted good interiors. Instead, they got a rather appalling experience. It started with trouble in finding the right professionals. It ended with the realization that even after spending a lot of time and money one could never be sure of a fair price, quality or even the final result.</p>
      <p id="pforabout">Determined to never let another homeowner experience the misery, they created what we now call Homeland. Launched in 2015 in India, Homeland is now the trusted brand for complete home interior design for thousands of homeowners.</p>
      <div class="main-container">
      <div class="forfounder1">
          <h1>Ramakant Sharma</h1>
          <p>CTO / COO / CO-FOUNDER</p>
          <p id="pforfounder">Ramakant plays a central role in driving all technological innovations that form the backbone of Homeland while also leading our operations team. Before founding Homeland, Ramakant was a core team member and Vice President of Engineering at Myntra, a leading fashion eCommerce startup in India (acquired by Flipkart). Ramakant, graduated from IIT Kanpur, and holds an MBA from Indian School of Business, Hyderabad.</p> 
      </div>
      <div class="foundersimage">
          <img id="founders1" src="founders.png">
      </div>
      <div class="forfounder2">
          <h1>Anuj Srivastava</h1>
          <p>CEO / CO-FOUNDER</p>
          <p id="pforfounder2">At Homeland, Anuj shapes the vision, strategy, and growth as we continuously redefine how interiors are designed and delivered. Formerly in the Silicon Valley, Anuj worked as the Global Head of Product Marketing for the eCommerce team at Google. A true citizen of the world, Anuj went to school at IIT Kanpur, received his MBA from the London Business School, and has lived in India, San Francisco, London, New York, and Singapore.</p>
      </div>
      </div>
      <h1 id="forcontributers">Venture-backed by some of the top International investors</h1>
      <div class="forpartners1">
      <img id="helion" src="\Partners\helion venture.png">
      <img id="jungle" src="\Partners\jungle venture.jpg">
      <img id="bessemer" src="\Partners\bessemer venture.jpg">
      </div>
      <div class="forteams">
          <div class="teamdes">
              <p id="fordesc">The team behind beautiful homes</p>
              <p id="fordesc2">Our team of experts work hard to bring your dreams to reality. From leading design thinkers to the brightest minds in technology, and the best of everything in between — you are in safe hands.</p>
          </div>
          <div class="grouppic">
              <img id="forgrouppic" src="grouppic.jpg">
          </div>
      </div>
      <h1 id="fornews">Homeland in news</h1>
      <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-s-12">
                <div class="card">
                
                    <img class="card-img-top" src="\News\fornews1.jpg" id="portland1">
                <div class="card-body">
                   <a href="https://tech.economictimes.indiatimes.com/news/startups/home-design-startup-livspace-raises-60-million/73559869"><h5 class="card-title">Home design startup Homeland raises $60 million</h5></a>
                    <p>January 24, 2020</p>
            </div>
            </div>
            </div>
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card">
                <img   class="card-img-top" src="\News\fornews2.jpg" id="portland22">
            <div class="card-body">
               <a href="https://www.siliconindia.com/news/startups/Signify-Announces-Collaboration-with-Livspace-in-India-nid-209625-cid-19.html"> <h5 class="card-title">Signify Announces Collaboration with Homeland in India</h5></a>
                <p>20 August 2019</p>
             </div>
         </div>
        </div>
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card">
                <img   class="card-img-top" src="\News\fornews3.jpg" id="portland1">
            <div class="card-body">
               <a href="https://www.entrepreneur.com/article/336719"><h5 class="card-title">Homeland builds a $100-million business in less than 5 years</h5></a>
                <p>July 12, 2019 </p>
             </div>
         </div>
        </div>
        <div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
        <img class="card-img-top" src="\News\fornews4.jpg" id="portland1">
    <div class="card-body">
        <a href="https://analyticsindiamag.com/machine-learning-helps-livspace-corner-the-biggest-share-in-the-20-billion-interior-design-market/"><h5 class="card-title">Deep Dive: Machine learning helps Homeland...</h5></a>
        <p>July 08, 2019</p>
     </div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
        <img class="card-img-top" src="\News\fornews5.jpg" id="portland1">
    <div class="card-body">
       <a href="https://www.financialexpress.com/industry/sme/livspace-redefining-modern-home-interiors/1589809/"> <h5 class="card-title">Homeland: Redefining modern home interiors</h5></a>
        <p> May 27, 2019 </p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
        <img class="card-img-top" src="\News\fornews6.jpg" id="portland1">
    <div class="card-body">
        <a href="https://www.dealstreetasia.com/stories/ikea-livspace-136318/"><h5 class="card-title">Indian interior design startup Homeland confirms...</h5></a>
        <p>May 20, 2019</p>
        </div>
    </div>
</div>
        </div>
        </div>
        <div class="foraddress">
            <div class="foraddress2">
                <h1>Nine cities
                    and counting...</h1>
                    <div class="adddetails">
                    <div class="foraddress3"><p id="pforaddress">Headquarters:</p></div>
                    <div class="adddesc"><p id="pforaddress2">Homeland, 4th floor, Prestige Obelisk Kasturba Road, Bengaluru - 56000</p></div>
                    </div>
                    <div class="adddetails">
                        <div class="foraddress3"><p id="pforaddress">Information:</p></div>
                        <div class="adddesc"><p id="pforaddress2">care@homeland.com</p></div>
                        </div>
                        <div class="adddetails">
                            <div class="foraddress3"><p id="pforaddress">Press:</p></div>
                            <div class="adddesc"><p id="pforaddress2">press@homeland.com</p></div>
                            </div>
                        </div>
                        <div class="forcities">
                            <img id="imgforcities" src="forcities.png">
                        </div>
        </div>
        <div class="container1">
            <div class="skill1"><a href="/book-online">Contact Us</a></div>
            <div class="skill2"><a href="/About-us">About Us</a></div>
            <div class="skill3"><a href="/book-online">Book Online</a></div>
            <div class="skill4"><a href="/"><img src="/home.gif"></a></div>
        </div>
    </body>
</html>