<html>
    <head>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     <style>
     #forh1{
         margin-top:3%;
         animation: mymove 3s infinite;
         margin-left:25%;
     }
     table{
        margin-top:4%; 
     }
      @keyframes mymove{
    50%{text-shadow: 2.5px 5px 7.5px blue;}
}
body{
      background-image: url(admin.png) ;
      background-repeat: no-repeat;
      background-size:cover;
     
      }
      ol{
          list-style-image: url('check-circle.gif');
          margin-left:25%;
          margin-top:5%;
          animation: mymove 3s infinite;
      }
      #forcoffee{
          font-size:3.2em;
         
      }
     
     </style>   
    </head>
    <body>
    
    <h1 id="forh1">Your Actitvity</h1></div>
   <ol>
  <li id="forcoffee"><a  href="/list">List of customers</a></li>
  <li id="forcoffee"><a href="register-list">List of registered customers</a></li>
  <li id="forcoffee"><a href="/rating">Ratings and reviews</a></li>
   <li id="forcoffee"><a href="/admin-dashboard">Edit details</li></a>
    <li id="forcoffee"><a href="/admin-dashboard"> Delete details</li></a>
    <li id="forcoffee"><a href="/appointment">Give appointments</li></a>
    <li id="forcoffee"><a href="/appointment-list2">Edit appointments</li></a>
    <li id="forcoffee"><a href="/">Home</li></a>
</ol>
    
    </body>
</html>