<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><!--I have copied this link from bootstrap site,take it from the first link written as css link-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><!--Below three links I have copied this link from bootstrap site,take it from the second  link written as js link -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <title>Bedrooms Collection</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h2 class="display-4">Welcome to our world of Bedrooms!</h2>
                        <hr class="my-4">
                        
                     <a href="/book-online"><button type="button" class="btn btn-primary">Book Online</button></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                 <h4 class="text-center">Our top collections</h4>
                 <hr class="my-4">   
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-s-12">
                    <div class="card">
                    <a href="/Bedroom/Contemporary-Cluster-Guest-Bedroom"><img class="card-img-top" src="\Bedroom\Contemporary Cluster Guest Bedroom.jpg" id="portland1"></a>
                    <div class="card-body">
                        <h5 class="card-title">#ID-132</h5>
                        <p>Contemporary Cluster Guest Bedroom</p>
                </div>
                </div>
                </div>
            <div class="col-md-4 col-sm-6 col-s-12">
                <div class="card">
                <a href="/Bedroom/Contemporary-Fusion-Guest-Room"><img  id="Aspen1" class="card-img-top" src="\Bedroom\Contemporary Fusion Guest Room.jpg"></a>
                <div class="card-body">
                    <h5 class="card-title">#ID-133</h5>
                    <p>Contemporary Fusion Guest Room</p>
                 </div>
             </div>
            </div>
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card">
             <a href="/Bedroom/Serene-Chic-Guest-Bedroom"><img class="card-img-top" src="\Bedroom\Serene Chic Guest Bedroom.jpg" id="portland1"></a>
            <div class="card-body">
                <h5 class="card-title">#ID-134</h5>
                <p>Serene Chic Guest Bedroom</p>
                 </div>
        </div>
        </div>
    <div class="col-md-4 col-sm-6 col-s-12">
        <div class="card">
        <a href="/Bedroom/Peppy-Elegant-Guest-Bedroom"><img class="card-img-top" src="\Bedroom\Peppy Elegant Guest Bedroom.jpg" id="portland1"></a>
        <div class="card-body">
            <h5 class="card-title">#ID-135</h5>
            <p>Peppy Elegant Guest Bedroom</p>
        </div>
    </div>
    </div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/Bedroom/Sand-Contemporary-Master-Bedroom"><img class="card-img-top" src="\Bedroom\Sand Contemporary Master Bedroom.jpg"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-136</h5>
        <p>Sand Contemporary Master Bedroom</p>
     </div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/Bedroom/Modern-Sleek-Master-Bedroom"><img class="card-img-top" src="\Bedroom\Modern Sleek Master Bedroom.jpg"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-137</h5>
        <p>Modern Sleek Master Bedroom</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/Bedroom/Contemporary-Spring-Guest-Bedroom"><img class="card-img-top" src="\Bedroom\Contemporary Spring Guest Bedroom.jpg" id="portland1"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-138</h5>
        <p>Contemporary Spring Guest Bedroom</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
     <a href="/Bedroom/Electric-Red-Master-Bedroom"><img class="card-img-top" src="\Bedroom\Electric Red Master Bedroom.jpg"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-139</h5>
        <p>Electric Red Master Bedroom</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
     <a href="/Bedroom/Retro-Fusion-Guest-Bed-Room"><img class="card-img-top" src="\Bedroom\Retro Fusion Guest Bed Room.jpg"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-140</h5>
        <p>Retro Fusion Guest Bed Room</p>
        </div>
    </div>
</div>
            </div>
        </div>
        <div class="container1">
            <div class="skill1"><a href="/book-online">Contact Us</a></div>
            <div class="skill2"><a href="/About-us">About Us</a></div>
            <div class="skill3"><a href="/book-online">Book Online</div>
            <div class="skill4"><a href="/"><img src="/home.gif"></a></div>
        </div>
    </body>
</html>