<html>
    <head>
        <title>Custom Modular Wardrobes</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
        <body>
            <h1 id="h2">Wardrobes by Livspace</h1>
            <hr id="h1">
            <h2 id="h2">Perfect look for your room</h2>
            <a id="bforcustomWardrobe22" href="/book-online" class="btn btn-lg btn-info">BOOK ONLINE CONSULTATION</a>
            <img id="img22" src="\Image for custom modular wardrobe\Wardrobe.jpg">
            <hr id="h22">
            <div class="container8">
            <div class="wardrobe11"> <img id="img30" src="\Image for custom modular wardrobe\Custom  modular warbrobe1.jpg"></div>
            <div class="wardrobe22"><h1>
                Your ideal wardrobe, made to order
            </h1>
            <p id="p10">Can’t find a wardrobe that matches your space? Look no further. Livspace wardrobes are available in a wide range of sizes and configurations to fit all your requirements. From wardrobes with lofts to full length wardrobes for the entire family, you name it, we’ve got it.</p>
            </div>

            </div>
            <hr id="h23">
            <div class="container9">
                <div class="wardrobe23"><h1>
                    Smart shutters, tailored for your space
                </h1>
                <p id="p11">All Livspace wardrobes are offered with a choice of swing or sliding doors. Available in a wide range of finishes including an option of mirrored or glass doors, which come fitted with a sturdy aluminum frame. With strength and function as our top priorities, all doors are designed in high-grade MDF and integrated with Hettich soft-close mechanism — the doors close softly no matter how hard you push.</p>
                </div>
                <div class="wardrobe11"> <img id="img31" src="\Image for custom modular wardrobe\Custom modular wardrobe 2.jpg"></div>
    
                </div>
                <div class="container12">
                    <span id><hr id="h40"></span>
                    <span><hr id="h41"></span>
                    <span><hr id="h42"></span>
                    <span><hr id="h43"></span>
                    <span><hr id="h44"></span>
                 </div>
                <div class="container10">
                   <span id="s1">1000+</span>
                   <span id="s2">400+</span>
                   <span id="s3">150+</span>
                   <span id="s4">10</span>
                   <span id="s5">5</span>
                </div>
                <div class="container11">
                    <span id="s11">Design</span>
                    <span id="s21">Modules</span>
                    <span id="s31">Finishes</span>
                    <span id="s41">Accessories</span>
                    <span id="s51">Wood Options</span>
                 </div>
                 <div class="container13">
                     <div class="swing-wardrobe">
                         <img class="img-responsive" id="swing1" src="\Image for custom modular wardrobe\swing wardrobe.gif">
                     <h3 id="forswing">Swing doors</h3>
                     <p id="pswing">The highly functional swing doors work best for compact wardrobes in large-enough rooms that allow the door to open completely.</p>
                     </div>
                     <div class="slid-wardrobe">
                         <img class="img-responsive" id="swing2" src="\Image for custom modular wardrobe\sliding doors wardrobe.gif">
                         <h3 id="forslid">Sliding doors</h3>
                        <p id="pslid">Stylish sliding doors, smoothly glide on dual tracks and offer a sleek aesthetic that saves space and complements wider wardrobes beautifully.</p>
                        </div>
                     
                 </div>
                 <h1 id="h8">How it works</h1>
                <hr id="h11">
                 <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-s-12">
                            <div class="card">
                                <div class="card-header">Step-1</div>
                                <img class="card-img-top" src="\How it works\Discover.jpg" id="portland1">
                            <div class="card-body">
                                <h5 class="card-title">Discover</h5>
                                <p>World-class designs</p>
                        </div>
                        </div>
                        </div>
                    <div class="col-md-4 col-sm-6 col-s-12">
                        <div class="card">
                            <div class="card-header">Step-2</div>
                            <img   class="card-img-top" src="\How it works\Meet.jpg" id="portland1">
                        <div class="card-body">
                            <h5 class="card-title">Book</h5>
                            <p>a consultation</p>
                         </div>
                     </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-s-12">
                        <div class="card">
                            <div class="card-header">Step-3</div>
                            <img   class="card-img-top" src="\How it works\Meet Designer.jpg" id="portland1">
                        <div class="card-body">
                            <h5 class="card-title">Meet</h5>
                            <p>your designer</p>
                         </div>
                     </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-s-12" id="card22">
                        <div class="card">
                            <div class="card-header">Step-4</div>
                            <img   class="card-img-top" src="\How it works\personalize.png" id="portland1">
                        <div class="card-body">
                            <h5 class="card-title">Personalize</h5>
                            <p>and place your order</p>
                         </div>
                     </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-s-12"  id="card23">
                        <div class="card">
                            <div class="card-header">Step-5</div>
                            <img   class="card-img-top" src="\How it works\Install.jpg" id="portland1">
                        <div class="card-body">
                            <h5 class="card-title">We install</h5>
                            <p>you enjoy</p>
                         </div>
                     </div>
                    </div>       
                    </div>
                    </div>
                    <div class="container1">
                        <div class="skill1"><a href="/book-online">Contact Us</a></div>
                        <div class="skill2"><a href="/About-us">About Us</a></div>
                        <div class="skill3"><a href="/book-online">Book Online</a></div>
                        <div class="skill4"><a href="/"><img src="/home.gif"></a></div>
                    </div>
        </body>
    
</html>