<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <title>Custom modular Kitchen</title>
    </head>
    <body>
        <hr id="h1">
<h1 id="h2">Not just a kitchen,It's part of our life</h1>
<a id="bforcustomkitchen22" href="/book-online" class="btn btn-lg btn-info">BOOK ONLINE CONSULTATION</a>
<img id="img22" src="Custom  modular kitchen.png">
<p id="p5">Ever counted the hours you spend in your kitchen each day? With good design, unparalleled quality, and elegant forms, we uncomplicate your every minute spent and 
</p>
<p id="p6">make it a sheer pleasure. The heart of your home, the kitchen now inspires you to cook, bond, indulge and more.</p>
<h1 id="h7">How it works</h1>
<hr id="h11">
<div class="container">
<div class="row">
    <div class="col-md-4 col-sm-6 col-s-12">
        <div class="card">
            <div class="card-header">Step-1</div>
            <img class="card-img-top" src="\How it works\Discover.jpg" id="portland1">
        <div class="card-body">
            <h5 class="card-title">Discover</h5>
            <p>World-class designs</p>
    </div>
    </div>
    </div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
        <div class="card-header">Step-2</div>
        <img   class="card-img-top" src="\How it works\Meet.jpg" id="portland1">
    <div class="card-body">
        <h5 class="card-title">Meet</h5>
        <p>Your designer at our studio</p>
     </div>
 </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
        <div class="card-header">Step-3</div>
        <img   class="card-img-top" src="\How it works\personalize.png" id="portland1">
    <div class="card-body">
        <h5 class="card-title">Personalize</h5>
        <p>designs for your need</p>
     </div>
 </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12" id="card22">
    <div class="card">
        <div class="card-header">Step-4</div>
        <img   class="card-img-top" src="\How it works\place order.png" id="portland1">
    <div class="card-body">
        <h5 class="card-title">Place order</h5>
        <p>safely and quickly</p>
     </div>
 </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12"  id="card23">
    <div class="card">
        <div class="card-header">Step-5</div>
        <img   class="card-img-top" src="\How it works\delivery.jpg" id="portland2">
    <div class="card-body">
        <h5 class="card-title">Delivery</h5>
        <p>And installation in just 8 weeks</p>
     </div>
 </div>
</div>       
</div>
</div>
<div class="container1">
    <div class="skill1"><a href="/book-online">Contact Us</a></div>
    <div class="skill2"><a href="/About-us">About Us</a></div>
    <div class="skill3"><a href="/book-online">Book Online</a></div>
    <div class="skill4"><a href="/"><img src="/home.gif"></a></div>
</div>

    </body>
</html>