<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <style>
        .container{
     margin-left:25%;
    }
    body{
      background-image: url(rateus.png) ;
      background-repeat: no-repeat;
      background-size:cover;
     
      

    }
    @keyframes mymove{
    50%{text-shadow: 2.5px 5px 7.5px blue;}
}
    form{
     margin-right:35%;
     margin-top:8%;
     animation: mymove 3s infinite;
    }
    #forregister{
      margin-left:40%;
      margin-top:5%;
      animation: mymove 3s infinite;
    }
    .row{
      
    }
    .register2{
      margin-top:-3.4%;
      margin-left:10%;
    }
     .container111{
    background-color:black;
    color:white;
    margin-top: 50%;
    height: 10%;
    display: flex;
}
.skill2{
    margin-top: 0.8%;
    font-size: 2em;
    margin-left: 5%;
}
.skill1{
    margin-top: 0.8%;
    font-size: 2em;
    
}
.skill3{
    margin-top: 0.8%;
    font-size: 2em;
    margin-left: 7%;
    
}
.skill4{
    margin-top: 0.6%;
    
    margin-left: 53%;
}
    </style>
       
    </head>
    <body>
     <h1 id="forregister">Rate Us</h1>
      <div class="container">
           <div class="register1">
        <form action="/rating/add" method="post"  class="needs-validation" novalidate>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter your email" name="email" required>
             <div class="invalid-feedback">Please enter your email</div>
            </div>
        <div class="form-group">
            <input type="number" name="rating" class="form-control" placeholder="Out of 10" pattern= "[1-10]{1}" required>
             <div class="invalid-feedback">Please enter your reveiw out of ten</div>
            </div>
             <div class="form-group">
            <input type="text" name="comment" class="form-control" placeholder="Your comments(Optional)">
        
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        </div>
        
         <script>
                       (function() {
                        'use strict';
                        window.addEventListener('load', function() {
                          var forms = document.getElementsByClassName('needs-validation');
                          var validation = Array.prototype.filter.call(forms, function(form) {
                            form.addEventListener('submit', function(event) {
                              if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                              }
                              form.classList.add('was-validated');
                            }, false);
                          });
                        }, false);
                      })();
                      </script>
                      <div class="container111">
    <div class="skill1"><a href="/book-online">Contact Us</a></div>
    <div class="skill2"><a href="/About-us">About Us</a></div>
    <div class="skill3"><a href="/book-online">Book Online</a></div>
    <div class="skill4"><a href="/"><img src="\home.gif"></a></div>
</div>
    </body>
</html>