<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Homeland</title>
    </head>
    <body>
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img src="home.gif">
            <a href="#" class="navbar-brand">Homeland</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" id="cl1">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownbutton" data-toggle="dropdown" aria-haspopup="true" 
                            aria-expanded="false">Kitchen Looks</button>
                            <div class="dropdown-menu list-inline" aria-labelledby="dropdownbutton">
                               <a href="/kitchen"> <img id="img1" src="modular.jpg" class="dropdown-item"></a>
                                        <p id="p1">Modular Kitchens</p>
                                        </div>
                        </div>
                    </li>
                    <li class="nav-item" id="item2">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownbutton" data-toggle="dropdown" aria-haspopup="true" 
                            aria-expanded="false">Rooms</button>
                            <div class="dropdown-menu list-inline" aria-labelledby="dropdownbutton">
                              <a href="/Bedroom"><img id="img1" src="bedroom.jpg" class="dropdown-item"></a>
                                        <p id="p1">Bedrooms</p>
                                        <div class="dropdown-divider"></div>
                                       <a href="/Living-room"><img id="img2" src="Living.jpg" class="dropdown-item" ></a>
                                        <p id="p1">Living Rooms</p>
                                        <div class="dropdown-divider"></div>
                                       <a href="/Kids"><img id="img2" src="kids.jpg" class="dropdown-item" ></a>
                                        <p id="p1">Kid's Room</p>
                                </div>
                        </div>
                    </li>
                    <li class="nav-item" id="item3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownbutton" data-toggle="dropdown" aria-haspopup="true" 
                            aria-expanded="false">Offerings</button>
                            <div class="dropdown-menu list-inline" aria-labelledby="dropdownbutton">
                               <a href="/Custom-modular-Kitchen"><img id="img1" src="Custom Modular Kitchen.jpg" class="dropdown-item"></a>
                                        <p id="p1">Custom Modular Kitchens</p>
                                        <div class="dropdown-divider"></div>
                                       <a href="/Custom-modular-Wardrobe"><img id="img2" src="Custom Modular Wardrobe.png" class="dropdown-item" ></a>
                                        <p id="p1">Custom Modular Wardrobes</p>
                                        </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#Howitworks" class="nav-link">
                            How it works
                        </a>
                    </li>
                </li>
                <li class="nav-item" id="p7">
                    <a href="/Livspace-homes" class="nav-link">
                        Homeland Homes
                    </a>
                </li>
                <li class="nav-item" id="item4">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownbutton" data-toggle="dropdown" aria-haspopup="true" 
                        aria-expanded="false">More</button>
                        <div class="dropdown-menu list-inline" aria-labelledby="dropdownbutton">
                                   <a href="/Refer-a-friend"><p id="p1">Refer a friend</p></a>
                                    <div class="dropdown-divider"></div>
                                    <a href="/About-us"><p id="p1">About Us</p></a>
                                <div class="dropdown-divider"></div>
                                <a href="/book-online"><p id="p1">Contact Us</p></a>
                                </div>
                    </div>
                </li>
                <li class="nav-item" id="item5">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownbutton" data-toggle="dropdown" aria-haspopup="true" 
                        aria-expanded="false">Join us</button>
                        <div class="dropdown-menu list-inline" aria-labelledby="dropdownbutton">
                                   <a href="/login"><p id="p1">Login</p></a>
                                    <div class="dropdown-divider"></div>
                                    <a href="/register"><p id="p1">Sign up</p></a>
                                
                                </div>
                    </div>
                </li>
                   </ul>
                </div>
        </nav>
        <video autoplay muted loop id="myVideo">
            <source src="background video.mp4" type="video/mp4">
            </video>
    </div>
    {{#rows}}
    <h1 id="hformain">Welcome {{full_name}}</h1>
    {{/rows}}
    <a id="bforindex22" href="/book-online" class="btn btn-lg btn-info">BOOK ONLINE CONSULTATION</a>
    <a id="bforindex222" href="/admin" class="btn btn-lg btn-info">WORK AS ADMIN</a>
</div>
    <div class="indexhead">
    <h1 id="hforindex">All in one for interiors</h1>
    </div>

<div class="container">
    <div class="indexhead2">
        <h1 id="hforindex2">We design</h1>
        <p id="pforindex">We know you are unique, and we make sure your home is too!</p>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-s-12" id="cardindex">
                <div class="card">
                    <img class="card-img-top" src="\Index Image\indeximg1.jpg" id="indeximg">
                <div class="card-body">
                    <h5 class="card-title">Full home interiors</h5>
                    <p>Want a minimalistic foyer, a bohemian bedroom or a vertical garden? Your wish is our command!</p>
            </div>
            </div>
            </div>
            <div class="col-md-6 col-sm-6 col-s-12" id="cardindex2">
                <div class="card">
                    <img  class="card-img-top" src="\Index Image\indeximg2.jpg" id="indeximg">
                <div class="card-body">
                    <h5 class="card-title">Modular solutions</h5>
                    <p>Your convenience is our priority. Our ergonomic kitchens and wardrobes will make your life easy.</p>
                 </div>
             </div>
            </div>
        </div>
        <h1 id="hforindex3">We Curate</h1>
        <p id="pforindex">You'll love our vast range of furniture, furnishings and decor!</p>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-s-12" id="cardindex">
                <div class="card">
                    <img class="card-img-top" src="\Index Image\indeximg3.jpg" id="forindeximg">
                <div class="card-body">
                    <h5 class="card-title">Catalogue products</h5>
                    <p>With over 2.5 lakh products on our catalogue, we have everything you need!</p>
            </div>
            </div>
            </div>
            <div class="col-md-6 col-sm-6 col-s-12" id="cardindex2">
                <div class="card">
                    <img  class="card-img-top" src="\Index Image\indeximg4.jpg" id="forindeximg">
                <div class="card-body">
                    <h5 class="card-title">Custom products</h5>
                    <p>Looking for something exclusive? We will design and make it specially for you!</p>
                 </div>
             </div>
            </div> 
        </div>
        <h1 id="hforindex3">We deliver</h1>
        <p id="pforindex">Once your design is ready, we'll turn your home into reality.</p>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-s-12" id="cardindex">
                <div class="card">
                    <img class="card-img-top" src="\Index Image\indeximg5.jpg" id="forindeximg">
                <div class="card-body">
                    <h5 class="card-title">Civil work</h5>
                    <p>We'll do all the heavy-lifting–flooring, painting, false ceiling, plumbing and everything else inbetween!</p>
            </div>
            </div>
            </div>
            <div class="col-md-6 col-sm-6 col-s-12" id="cardindex2">
                <div class="card">
                    <img  class="card-img-top" src="\Index Image\indeximg6.jpg" id="forindeximg">
                <div class="card-body">
                    <h5 class="card-title">Installation</h5>
                    <p>We make sure everything is in place before we deliver your dream home to you!</p>
                 </div>
             </div>
            </div> 
        </div>
    </div>
    <a name="Howitworks"></a>
    <h1 id="howforindex">It's simpler than you think</h1>
    <div class="row" id="indexrow">
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card">
                <img class="card-img-top" src="\How it works\Meet Designer.jpg" id="portland1">
            <div class="card-body">
                <h5 class="card-title">Meet designer</h5>
                <p>Let's get to know you better and we'll share design concepts and a quote</p>
        </div>
        </div>
        </div>
    <div class="col-md-4 col-sm-6 col-s-12">
        <div class="card">
            <img   class="card-img-top" src="\How it works\Seal the deal.jpg" id="portland1">
        <div class="card-body">
            <h5 class="card-title">Seal the deal</h5>
            <p>Once you're happy with the design and the quote, book Livspace by paying 5%</p>
         </div>
     </div>
    </div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
        <img class="card-img-top" src="\How it works\place order.png" id="portland1">
    <div class="card-body">
        <h5 class="card-title">Place the order</h5>
        <p>Its execution time! Here's where you pay 45% to kickstart the order process</p>
         </div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-s-12" id="card22">
    <div class="card">
        <img   class="card-img-top" src="\How it works\Install.jpg" id="portland1">
    <div class="card-body">
        <h5 class="card-title">Installation begins</h5>
        <p>Pay the balance 50% based on your order type and watch your home come alive</p>
     </div>
 </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12"  id="card23">
    <div class="card">
        <img   class="card-img-top" src="\How it works\Stepin.jpg" id="portland1">
    <div class="card-body">
        <h5 class="card-title">Move in!</h5>
        <p>Your Livspace home is now ready! It's time to make new memories!</p>
     </div>
 </div>
</div>   
    </div>
    <hr id="hrforclients">
    <h1 id="forclients">Our Clients talk</h1>
    <div class="row" id="indexrow">
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card">
                <video class="card-img-top" autoplay muted loop  id="myVideo">
                  <source src="\Clients Video\Client video1.mp4" id="portland1">  
                </video>
            <div class="card-body">
                <p id="forclient1">“Hats off to the entire team at Livspace. They finished the project ahead of time. They said 45 days but finished it much earlier.”</p>
                <a href="https://www.youtube.com/watch?v=0j6s1XfPA3k&feature=youtu.be"><h5 class="card-title" id="forclient1">Rohit Paul & Shveta</h5></a>
                <p id="forclient1">Modular kitchen, Gurugram</p>
        </div>
        </div>
        </div>
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card">
                <video class="card-img-top" autoplay muted loop   id="myVideo">
                  <source src="\Clients Video\Client video2.mp4" id="portland1">  
                </video>
            <div class="card-body">
                <p id="forclient1">“Our experience with Livspace was nice thanks to the project managers. They worked so much on this project, and finished it on time.”</p>
                <a href="https://www.youtube.com/watch?v=bEV3zxJyMXY&feature=youtu.be"><h5 class="card-title" id="forclient1">Swati & Gaurav</h5></a>
                <p id="forclient1">2 BHK, Bangalore</p>
        </div>
        </div>
        </div>
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card">
                <video class="card-img-top" autoplay muted loop   id="myVideo">
                  <source src="\Clients Video\Client video 3.mp4" id="portland1">  
                </video>
            <div class="card-body">
                <p id="forclient1">“This house is a part of me.
                    We reached out to Livspace and they
                    designed the house that
                    we really wanted.”</p>
                   <a href="https://www.youtube.com/watch?v=2iKZZEYqtXU&feature=youtu.be"> <h5 class="card-title" id="forclient12">Puja Bhatia</h5></a>
                    <p id="forclient1">2 BHK, Gurugram</p>
        </div>
        </div>
        </div>    
    </div>
</div>
<img id="keyfordream" src="dreamhome.jpg">
<h1 id="hfordream">You are just one click away to get you dream home</h1>
<a id="bfordream" href="/book-online" class="btn btn-lg btn-info">Get started</a>
<div class="container111">
    <div class="skill1"><a href="/book-online">Contact Us</a></div>
     <div class="skill2"><a href="/About-us">About Us</a></div>
    <div class="skill3"><a href="/book-online">Book Online</a></div>
    <div class="skill4"><img src="home.gif"></div>
</div>
</body>
</html>