<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><!--I have copied this link from bootstrap site,take it from the first link written as css link-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><!--Below three links I have copied this link from bootstrap site,take it from the second  link written as js link -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <title>Kid's rooms Collection</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h2 class="display-4">Welcome to our world of Kid's rooms!</h2>
                        <hr class="my-4">
                        
                     <a href="/book-online"><button type="button" class="btn btn-primary">Book Online</button></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                 <h4 class="text-center">Our top collections</h4>
                 <hr class="my-4">   
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-s-12">
                    <div class="card">
                    <a href="/Kids/Vibrant-Kids-Bedroom-Interior-Design"><img class="card-img-top" src="\kids\Vibrant Kids Bedroom Interior Design.jpg" id="portland1"></a>
                    <div class="card-body">
                        <h5 class="card-title">#ID-150</h5>
                        <p>Vibrant Kids Bedroom Interior Design</p>
                </div>
                </div>
                </div>
            <div class="col-md-4 col-sm-6 col-s-12">
                <div class="card">
                <a href="/Kids/Alluring-Kids-Bedroom-Interior-Design"><img  id="Aspen1" class="card-img-top" src="\kids\Alluring Kids Bedroom Interior Design.jpg" id="portland1"></a>
                <div class="card-body">
                    <h5 class="card-title">#ID-151</h5>
                    <p>Alluring Kids Bedroom Interior Design</p>
                 </div>
             </div>
            </div>
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card">
            <a href="/Kids/Cosy-Kids-Bedroom-Interior-Design"><img class="card-img-top" src="\kids\Cosy Kids Bedroom Interior Design.jpg" id="portland1"></a>
            <div class="card-body">
                <h5 class="card-title">#ID-152</h5>
                <p>Cosy Kids Bedroom Interior Design</p>
                 </div>
        </div>
        </div>
    <div class="col-md-4 col-sm-6 col-s-12">
        <div class="card">
        <a href="/Kids/Olive-Kids-Bedroom-Interior-Design"><img class="card-img-top" src="\kids\Olive Kids Bedroom Interior Design.jpg" id="portland1"></a>
        <div class="card-body">
            <h5 class="card-title">#ID-153</h5>
            <p>Olive Kids Bedroom Interior Design</p>
        </div>
    </div>
    </div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/Kids/Bespangled-Kids-Bedroom-Interior-Design"><img class="card-img-top" src="\kids\Bespangled Kids Bedroom Interior Design.jpg" id="portland1"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-154</h5>
        <p>Bespangled Kids Bedroom Interior Design</p>
     </div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/Kids/Acacia-Kids-Bedroom-Interior-Design"><img class="card-img-top" src="\kids\Acacia Kids Bedroom Interior Design.jpg" id="portland1"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-155</h5>
        <p>Acacia Kids Bedroom Interior Design</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/Kids/Bisque-Kids-Bedroom-Interior-Design"><img class="card-img-top" src="\kids\Bisque Kids Bedroom Interior Design.jpg" id="portland1"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-156</h5>
        <p>Bisque Kids Bedroom Interior Design</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/Kids/Serene-Kids-Bedroom-Interior-Design"><img class="card-img-top" src="\kids\Serene Kids Bedroom Interior Design.jpg" id="portland1"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-157</h5>
        <p>Serene Kids Bedroom Interior Design</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/Kids/Perky-Kids-Bedroom-Design"><img class="card-img-top" src="\kids\Perky Kids Bedroom Design.jpg" id="portland1"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-158</h5>
        <p>Perky Kids Bedroom Design</p>
        </div>
    </div>
</div>
            </div>
        </div>
        <div class="container1">
            <div class="skill1"><a href="/book-online">Contact Us</a></div>
            <div class="skill2"><a href="/About-us">About Us</a></div>
            <div class="skill3"><a href="/book-online">Book Online</a></div>
            <div class="skill4"><a href="/"><img src="/home.gif"></a></div>
        </div>
    </body>
</html>