<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><!--I have copied this link from bootstrap site,take it from the first link written as css link-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><!--Below three links I have copied this link from bootstrap site,take it from the second  link written as js link -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <title>Kitchens Collection</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h2 class="display-4">Welcome to our world of Kitchens!</h2>
                        <hr class="my-4">
                        
                     <a href="/book-online"><button type="button" class="btn btn-primary">Book Online</button></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                 <h4 class="text-center">Our top collections</h4>
                 <hr class="my-4">   
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-s-12">
                    <div class="card">
                       <a href="/kitchen/Estelle-L-shaped-Kitchen"><img class="card-img-top" src="\Kitchen\L-shape.jpg" id="portland1"></a>
                    <div class="card-body">
                        <h5 class="card-title">#ID-123</h5>
                        <p>Estelle L-shaped Kitchen</p>
                </div>
                </div>
                </div>
            <div class="col-md-4 col-sm-6 col-s-12">
                <div class="card">
                   <a href="/kitchen/Aspen-L-shaped-Kitchen"><img  id="Aspen1" class="card-img-top" src="\Kitchen\Aspen L-shaped Kitchen.jpg"></a>
                <div class="card-body">
                    <h5 class="card-title">#ID-124</h5>
                    <p>Aspen L-shaped Kitchen</p>
                 </div>
             </div>
            </div>
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card">
               <a href="/kitchen/Chloe-Kitchen"><img class="card-img-top" src="\Kitchen\Chloe Kitchen WIth Island Counter.jpg" id="portland1"></a>
            <div class="card-body">
                <h5 class="card-title">#ID-125</h5>
                <p>Chloe Kitchen WIth Island Counter</p>
                 </div>
        </div>
        </div>
    <div class="col-md-4 col-sm-6 col-s-12">
        <div class="card">
           <a href="/kitchen/Carmen-Straight-Kitchen"><img class="card-img-top" src="\Kitchen\Carmen Straight Kitchen.jpg" id="portland1"></a>
        <div class="card-body">
            <h5 class="card-title">#ID-126</h5>
            <p>Carmen Straight Kitchen</p>
        </div>
    </div>
    </div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
      <a href="/kitchen/Jamie-Parallel-Kitchen"><img class="card-img-top" src="\Kitchen\Jamie Parallel Kitchen.jpg"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-127</h5>
        <p>Jamie Parallel Kitchen</p>
     </div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
     <a href="/kitchen/Abigail-U-Shaped-Kitchen"><img class="card-img-top" src="\Kitchen\Abigail U Shaped Kitchen.jpg"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-128</h5>
        <p>Abigail U Shaped Kitchen</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
      <a href="/kitchen/Portland-U-Shaped-Kitchen"><img class="card-img-top" src="\Kitchen\Portland U Shaped Kitchen.jpg" id="portland1"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-129</h5>
        <p>Portland U Shaped Kitchen</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/kitchen/Shelby-L-Shaped-Kitchen"><img class="card-img-top" src="\Kitchen\Shelby L Shaped Kitchen.jpg"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-130</h5>
        <p>Shelby L Shaped Kitchen</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
      <a href="/kitchen/Sienna-Parallel-Modular-Kitchen"><img class="card-img-top" src="\Kitchen\Sienna Parallel Modular Kitchen.jpg"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-131</h5>
        <p>Sienna Parallel Modular Kitchen</p>
        </div>
    </div>
</div>
            </div>
        </div>
        <div class="container1">
            <div class="skill1"><a href="/book-online">Contact Us</a></div>
            <div class="skill2"><a href="/About-us">About Us</a></div>
            <div class="skill3"><a href="/book-online">Book Online</a></div>
            <div class="skill4"><a href="/"><img src="\home.gif"></a></div>
        </div>
    </body>
</html>