<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><!--I have copied this link from bootstrap site,take it from the first link written as css link-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><!--Below three links I have copied this link from bootstrap site,take it from the second  link written as js link -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <title>Living rooms Collection</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h2 class="display-4">Welcome to our world of Living rooms!</h2>
                        <hr class="my-4">
                        
                     <a href="/book-online"><button type="button" class="btn btn-primary">Book Online</button></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                 <h4 class="text-center">Our top collections</h4>
                 <hr class="my-4">   
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-s-12">
                    <div class="card">
                    <a href="/Living-room/Kaleidoscope"><img class="card-img-top" src="\Living\Kaleidoscope.jpg" id="portland1"></a>
                    <div class="card-body">
                        <h5 class="card-title">#ID-141</h5>
                        <p>Kaleidoscope</p>
                </div>
                </div>
                </div>
            <div class="col-md-4 col-sm-6 col-s-12">
                <div class="card">
                <a href="/Living-room/Vanilla-Twilight"><img  id="Aspen1" class="card-img-top" src="\Living\Vanilla Twilight.jpg" id="portland1"></a>
                <div class="card-body">
                    <h5 class="card-title">#ID-142</h5>
                    <p>Vanilla Twilight</p>
                 </div>
             </div>
            </div>
        <div class="col-md-4 col-sm-6 col-s-12">
            <div class="card">
             <a href="/Living-room/Palais-Chic"><img class="card-img-top" src="\Living\Palais Chic.jpg" id="portland1"></a>
            <div class="card-body">
                <h5 class="card-title">#ID-143</h5>
                <p>Palais Chic</p>
                 </div>
        </div>
        </div>
    <div class="col-md-4 col-sm-6 col-s-12">
        <div class="card">
        <a href="/Living-room/Aqua-Delight"><img class="card-img-top" src="\Living\Aqua Delight.jpg" id="portland1"></a>
        <div class="card-body">
            <h5 class="card-title">#ID-144</h5>
            <p>Aqua Delight</p>
        </div>
    </div>
    </div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/Living-room/Serene-Summer"><img class="card-img-top" src="\Living\Serene Summer.jpg" id="portland1"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-145</h5>
        <p>Serene Summer</p>
     </div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/Living-room/Artistic-Intrigue"><img class="card-img-top" src="\Living\Artistic Intrigue.jpg" id="portland1"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-146</h5>
        <p>Artistic Intrigue</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/Living-room/Urban-Solace"><img class="card-img-top" src="\Living\Urban Solace.jpg" id="portland1"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-147</h5>
        <p>Urban Solace</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/Living-room/Spring-Fever"><img class="card-img-top" src="\Living\Spring Fever.jpg" id="portland1"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-148</h5>
        <p>Spring Fever</p>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-s-12">
    <div class="card">
    <a href="/Living-room/Teal-Meadows"><img class="card-img-top" src="\Living\Teal Meadows.jpg" id="portland1"></a>
    <div class="card-body">
        <h5 class="card-title">#ID-149</h5>
        <p>Teal Meadows</p>
        </div>
    </div>
</div>
            </div>
        </div>
        <div class="container1">
            <div class="skill1"><a href="/book-online">Contact Us</a></div>
            <div class="skill2"><a href="/About-us">About Us</a></div>
            <div class="skill3"><a href="/book-online">Book Online</a></div>
            <div class="skill4"><a href="/"><img src="/home.gif"></a></div>
        </div>
    </body>
</html>