<html>
    <head>
        <title>Livspace Homes</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Livspace Homes
                </li>
            </ol>
        </nav>
        <div class="container">
            <div class="row mt-5">
            <div class="col-md-8">
        <h1 id="headforhomes">Homes designed by Livspace</h1>
        <img id="forhomes" src="\Livspace Homes\Livspace homes.jpg">
        <h2 id="livhomes">Get an Exclusive Look of this Plush Mumbai Home</h2>
        <p>Don’t miss out on the wall treatments!</p>
        <p>Lodh | May 08, 2020</p>
        <img id="forhomes2" src="\Livspace Homes\Livspace homes2.jpg">
        <h2 id="livhomes">Cost-saving lessons from 5 homes designed under Rs 15 lakhs</h2>
        <p>Sucheta Ghosh | May 07, 2020</p>
        <img id="forhomes" src="\Livspace Homes\Livspace homes3.jpg">
        <h2 id="livhomes">When You Get the Basics Right, It Shows in the Home Design</h2>
        <p>Anwesha Barari | May 03, 2020</p>
        <img id="forhomes" src="\Livspace Homes\Livspace homes4.jpg">
        <h2 id="livhomes">This Attractive Home Hides it’s Functionality in Plain Sight</h2>
        <p>With fancy feature walls!</p>
        <p>Anwesha Barari | April 24, 2020</p>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h1 id="fornews">Updates</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            
                            <a href="https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/pay-cuts-layoffs-startup-morale-under-lockdown/articleshow/75367549.cms"><p id="pfornews">Pay cuts, layoffs: Startup morale under lockdown</p></a>
                            <p id="pfornewsdate">Apr 25, 2020</p>
                           
                        </div>
                        <div class="col-md-6">
                            <img id="fornewsimage" src="\Image for updates\fornewspicture6.jpg">
                        </div>
                        <div class="col-md-6">
                            
                            <a href="https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/flood-of-pink-slips-coming-warn-startups/articleshow/75310306.cms"><p id="pfornews">Flood of pink slips coming, warn startups</p></a>
                            <p id="pfornewsdate">Apr 23, 2020</p>
                           
                        </div>
                        <div class="col-md-6">
                            <img id="fornewsimage" src="\Image for updates\fornewspicture7.jpg">
                        </div>
                        <div class="col-md-6">
                            
                            <a href="https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/homelane-scoops-up-30-million-in-its-series-d-funding/articleshow/72939136.cms"><p id="pfornews">TPG set to put Rs 275 crore in home design company Livspace</p></a>
                            <p id="pfornewsdate">Dec 23, 2019</p>
                           
                        </div>
                        <div class="col-md-6">
                            <img id="fornewsimage1" src="\Image for updates\fornewspicture5.jpg">
                        </div>
                        <div class="col-md-6">
                            
                            <a href="https://realty.economictimes.indiatimes.com/news/industry/tpg-set-to-put-rs-275-crore-in-home-design-company-livspace/64892034"><p id="pfornews">TPG set to put Rs 275 crore in home design company Livspace</p></a>
                            <p id="pfornewsdate">July 07, 2018</p>
                           
                        </div>
                        <div class="col-md-6">
                            <img id="fornewsimage" src="\Image for updates\fornewspicture3.jpg">
                        </div>
                        <div class="col-md-6">
                            
                            <a href="https://retail.economictimes.indiatimes.com/news/e-commerce/e-tailing/livspace-gets-rs-100cr-more-from-investors/53921432"><p id="pfornews">Livspace gets Rs 100cr more from investors</p></a>
                            <p id="pfornewsdate">August 30, 2016</p>
                           
                        </div>
                        <div class="col-md-6">
                            <img id="fornewsimage" src="\Image for updates\fornewspicture2.jpg">
                        </div>
                        <div class="col-md-6">
                            
                            <a href="https://realty.economictimes.indiatimes.com/news/residential/livspace-acquires-mobile-platform-yofloor/48898632"><p id="pfornews">Livspace acquires mobile platform YoFloor</p></a>
                            <p id="pfornewsdate">September 10, 2015</p>
                           
                        </div>
                        <div class="col-md-6">
                            <img id="fornewsimage" src="\Image for updates\fornewspicture4.jpg">
                        </div>
                        <div class="col-md-6">
                            
                            <a href="https://realty.economictimes.indiatimes.com/news/industry/livspace-raises-8-million-from-helion-bessemer-jungle-ventures/48433903"><p id="pfornews">Livspace raises $8 million from Helion, Bessemer, Jungle Ventures</p></a>
                            <p id="pfornewsdate">August 11, 2015</p>
                           
                        </div>
                        <div class="col-md-6">
                            <img id="fornewsimage" src="\Image for updates\fornewspicture.jpg">
                        </div>
                       
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container1">
            <div class="skill1"><a href="/book-online">Contact Us</a></div>
            <div class="skill2"><a href="/About-us">About Us</a></div>
            <div class="skill3"><a href="/book-online">Book Online</a></div>
            <div class="skill4"><a href="/"><img src="/home.gif"></a></div>
        </div>
    </body>
</html>