<!Doctype html>
<html>
    <head>

    </head>
    <body>
        <form method="post" action="/sign">
            <input type="text" name="name">
            <input type="text" name="password">
            <button type="submit" class="bt btn-primary">Book</button>
        </form>
    </body>
</html>